:root {
    --white: #FBFBFB;
    --green: #013220;
    --main: #6f7d7b;
    --grey: #a7afae;
  }
  
  * {
    font-family: "Barlow", sans-serif;
  }
  
  body {
    background-color: var(--main);
    color: black;
  }
  
  :target:before {
    content: "";
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
  }
  
  #header:target {
    scroll-margin-top: 500px;
  }
  
  .navbar-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 8.33%;
    padding-right: 8.33%;
    background-color: #002400;
    position: fixed;
    z-index: 100;
  }
  
  .link-container {
    display: flex;
    justify-content: space-between;
    width: 657px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
  }
  
  strong {
    font-weight: 900;
    color: #ffffff;
    font-size: 40px;
    padding-right: 20px;
  }
  
  .link-style {
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
  }
  
  header {
    background-color: var(--green);
  }
  
  #header {
    scroll-margin-top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  
    .hero-info {
      font-size: 108px;
      font-weight: 900;
      color: var(--white);
      line-height: 120px;
  
      span {
        display: block;
      }
  
      span:first-child {
        font-size: 80px;
      }
  
      span:nth-child(4) {
        font-size: 60px;
        font-weight: bold;
        line-height: 90px;
        padding-bottom: 10px;
      }
    }
  }
  
  .profile-pic {
    height: 75vh;
  }
  
  .social-link {
    display: flex;
    justify-content: space-between;
    width: 250px;
    list-style: none;
  
    img {
      width: 34px;
      filter: invert(1);
    }
  }
  
  #about-me {
    padding-top: 80px;
  }
  
  p {
    font-size: 32px;
    font-weight: 400;
  }
  
  .p-container {
    background-color: var(--grey);
    border-radius: 20px;
    padding: 20px;
  }
  
  #skills {
    padding-top: 80px;
    border-bottom: 1px solid black;
  }
  
  .program-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 520px;
    margin: auto;
  
    img {
      height: 116px;
      margin: 5px;
    }
  }
  
  .soft-skills {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: black;
    text-decoration: underline;
    font-weight: 400;
    flex-wrap: wrap;
  
    span {
      margin: 0 20px;
    }
  }
  
  #portfolio {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid black;
  }
  
  .portfolio-left {
    font-size: 150px;
    flex: 1;
    text-align: center;
  }
  
  .portfolio-right {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .portfolio-special {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .number {
      font-size: 150px;
      font-weight: bold;
      color: black;
    }
  
    .screen img {
      width: 300px;
      border-radius: 5px;
      border: 1px solid black;
    }
  }
  
  #contact {
    padding-top: 80px;
    padding-bottom: 80px;
    color: black;
    display: flex;
    justify-content: center;
  
    .form-container {
      background-color: var(--grey);
      border-radius: 20px;
      padding: 20px;
  
      form input {
        width: 100%;
      }
  
      .form label {
        font-size: 35px;
      }
  
      .send-button {
        width: 30%;
        display: block;
        margin: auto;
      }
    }
  }
  
  @media only screen and (max-width: 1250px) {
    .hero-img {
      padding-top: 30px;
      display: block;
      margin: auto;
    }
  
    .hero-info {
      padding-top: 80px;
      margin: auto;
      text-align: center;
  
      span:nth-child(2),
      span:nth-child(3) {
        font-size: 80px;
      }
    }
  
    .social-link {
      margin: auto;
    }
  }
  
  @media only screen and (max-width: 899px) {
    .navbar-flex {
      display: block;
      margin: auto;
      text-align: center;
      position: fixed;
      z-index: 100;
    }
  
    strong {
      padding: 0;
    }
  
    .link-container {
      width: auto;
    }
  
    .profile-pic {
      width: 50vw;
      height: auto;
    }
  
    p {
      font-size: 20px;
    }
  
    .portfolio-container {
      flex-wrap: wrap-reverse;
    }
  
    #skills {
      display: block;
      text-align: center;
      height: auto;
    }
  
    .program-skills {
      flex-wrap: wrap;
      width: auto;
      height: auto;
  
      img {
        padding: 10px;
      }
    }
  
    .soft-skills {
      padding-top: 50px;
      display: block;
    }
  }
  
  @media only screen and (max-width: 450px) {
    strong {
      font-size: 25px;
    }
  
    .link-container {
      display: block;
  
      .block1 {
        display: inline-block;
      }
  
      span {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  
    .hero-info {
      padding-top: 50px;
  
      span:nth-child(3) {
        font-size: 60px;
      }
  
      span:nth-child(2) {
        font-size: 70px;
      }
  
      span:nth-child(1) {
        font-size: 50px;
      }
    }
  
    .link-container {
      flex-wrap: wrap;
    }
  }
  