#cv{
    padding: 80px 20px;
    border-bottom: 1px solid black;
    color: black;
    
}

.cv-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    
}

.work-info,
.instruction{
    background-color: var(--test);
    border-radius: 20px;
    padding: 20px;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.566);
}

h2{
    margin-top: 20px;
}

.special{
    margin-top: 3vh;
    padding-top: 100px;
    padding-bottom: 50px; ;
    text-align: center;
}

.line-break{
    border-bottom: 1px solid black;
}

.work-info{
    padding-bottom: 40px;
}

.instruction{
    height: 100%;
    padding-bottom: 40px;
}

.p-container{
    margin-top: 20px;
    background-color: var(--test);
    border: 1px solid rgba(0, 0, 0, 0.566);
}

.second{
    margin-top: 20px;
}